<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">   
    <title>To do</title>
</head>
<body>
    <div class="box" id="heading">
        <h1><%= date %></h1>
    </div>
    <div class="box">
        <% for(var i = 0; i < item.length ; i++){ %>
        <form  action="/delete" method="POST">
            <div class="item">
                    <input type="checkbox" name ="mycheckbox" value="<%= item[i]._id%>" onchange="this.form.submit()"> 
                    <p><%= item[i].name %> </p>
            </div> 
        </form>
        <% } %>
        <form action="/" method="POST">
            <input type="text" name="itemadded" placeholder="Enter text" autofocus autocomplete="off">
            <button type="submit" name = "submit_button" value="<%= date %>">+</button>
        </form>   
    </div>
    <div style="padding-top: 10%;">
    <p style="text-align: center; text-transform: capitalize; font-size: small;">ЁЯЗоЁЯЗ│ Made in India with love &nbsp; рднрд╛рд░рдд рдореЗрдВ рдкреНрдпрд╛рд░ рдХреЗ рд╕рд╛рде рдмрдирд╛рдпрд╛ рдЧрдпрд╛ ЁЯЗоЁЯЗ│</p>
    </div>  
</body>ЁЯЗо

</html>